.about-middle-container {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: transparent;
  padding-top: 30px;
  padding-left: 80px;
  padding-right: 10px;
  font-family: 'Roboto';
  background-color: #161625;
}

@media screen and (max-width: 576px) {
  .about-middle-container {
    padding: 25px;
  }
}

.about-heading {
  color: #f8fafc;
  font-size: 28px;
  margin-top: 0px;
}

.last-updated {
  color: #94a3b8;
  font-size: 12px;
  margin-top: 0px;
}

.vaccine-distribution {
  color: #e2e8f0;
  font-size: 16px;
}

@media screen and (max-width: 576px) {
  .about-heading {
    font-size: 20px;
  }
  .last-updated {
    font-size: 10px;
  }
  .vaccine-distribution {
    font-size: 12px;
  }
}

.ques-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0px;
  list-style-type: none;
  margin-top: 0px;
}

.ques-list-item {
  width: 100%;
}

.question {
  color: #94a3b8;
  font-size: 12px;
}

.answer {
  color: #007bff;
  font-size: 12px;
}

@media screen and (max-width: 576px) {
  .question {
    font-size: 10px;
  }
  .answer {
    font-size: 10px;
  }
}

.loader-container {
  width: 100%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
