.header-list {
  width: 100%;
  height: 50px;
  background-color: #1e1e30;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto';
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0px;
  margin-left: auto;
  width: 180px;
  margin-right: 50px;
}

.app-name {
  width: 130px;
  height: 24px;
  font-family: 'Bree Serif';
  font-size: 16px;
  line-height: 24px;
  color: #f8fafc;
  margin-left: 10%;
  font-weight: bold;
  margin-left: 50px;
}

@media screen and (max-width: 576px) {
  .app-name {
    font-size: 14px;
  }
}

.blue-text {
  color: #007bff;
  margin-left: 0px;
}

.nav-list-item-home {
  line-height: 24px;
}

.nav-list-item-about {
  line-height: 24px;
}

.link-name {
  text-decoration: none;
  color: #94a3b8;
  font-size: 13px;
  border-style: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.highlight {
  color: #f8fafc;
}

.link-logo {
  text-decoration: none;
}

.link-item {
  text-decoration: none;
  margin-right: 20px;
}

.menu-button {
  display: none;
}

.menu-list {
  display: none;
}

@media screen and (max-width: 576px) {
  .nav-list {
    display: none;
  }
  .menu-button {
    display: block;
    width: 30px;
    height: 20px;
    background-color: transparent;
    outline: none;
    border-style: none;
    margin-right: 20px;
    margin-left: auto;
  }

  .menu-image {
    width: 100%;
    height: 100%;
  }

  .menu-list {
    width: 100%;
    height: 50px;
    background-color: #161625;
    padding: 20px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .close-item {
    width: 30px;
    height: 20px;
    margin-left: auto;
  }

  .close-button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border-style: none;
    outline: none;
  }

  .close-icon {
    width: 100%;
    height: 100%;
  }
}
