.main-specific-container {
  background-color: #161625;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.state-content-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 80px;
  padding-top: 40px;
  font-family: 'Roboto';
  background-color: #161625;
  margin-bottom: 0px;
}

@media screen and (max-width: 576px) {
  .state-content-container {
    padding: 20px;
  }
}

.top-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.state-name-container {
  padding: 0px;
  padding-bottom: 0px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(2, 132, 199, 0.16);
  border-radius: 18px;
  height: 38px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-first-half-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.state-name {
  color: #0ea5e9;
  font-size: 22px;
}

@media screen and (max-width: 576px) {
  .state-name {
    font-size: 14px;
  }
}

.last-updated-para {
  color: #cbd5e1;
  font-size: 10px;
}

@media screen and (max-width: 576px) {
  .last-updated-para {
    font-size: 9px;
  }
}

.top-second-half-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.tested-name {
  color: #94a3b8;
  font-size: 10px;
  margin-bottom: 5px;
}

.tested-result {
  color: #94a3b8;
  font-size: 14px;
  margin-top: 0px;
  font-weight: 500;
}

.state-specific-card-list {
  width: 70%;
  margin-top: 34px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  align-self: center;
  list-style-type: none;
  padding: 0px;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .state-specific-card-list {
    width: 100%;
  }
}

.card-list-item {
  height: 100%;
  min-width: 155px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 20px;
}

.card-red {
  background-color: #331427;
}

.card-blue {
  background-color: #132240;
}

.card-green {
  background-color: #182829;
}

.card-grey {
  background-color: #212230;
}

.card-list-button {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-style: none;
  outline: none;
  padding: 20px;
  background-color: transparent;
}

.confirm-card-name {
  color: #ff073a;
  font-size: 12px;
}

.active-card-name {
  color: #007bff;
  font-size: 12px;
}

.recovered-card-name {
  color: #28a745;
  font-size: 12px;
}

.deceased-card-name {
  color: #6c757d;
  font-size: 12px;
}

.confirm-card-image {
  width: 18px;
  height: 18px;
  color: #ff073a;
}

.active-card-image {
  width: 18px;
  height: 18px;
  color: #007bff;
}

.recovered-card-image {
  width: 18px;
  height: 18px;
  color: #28a745;
}

.deceased-card-image {
  width: 18px;
  height: 18px;
  color: #6c757d;
}

.confirm-card-number {
  color: #ff073a;
  font-size: 15px;
}

.active-card-number {
  color: #007bff;
  font-size: 15px;
}

.recovered-card-number {
  color: #28a745;
  font-size: 15px;
}

.deceased-card-number {
  color: #6c757d;
  font-size: 15px;
}

.top-districts {
  color: #ff073a;
  font-size: 17px;
}

.top-districts-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.top-districts-list-item {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  justify-content: flex-start;
  align-items: center;
  width: 150px;
}

@media screen and (max-width: 576px) {
  .top-districts-list-item {
    margin-right: 10px;
  }
}

.top-districts-name {
  color: #94a3b8;
  font-size: 14px;
  margin-right: 10px;
}

.top-districts-number {
  color: #94a3b8;
  font-size: 10px;
}

.state-loader-container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #161625;
}

.graphs-container {
  width: 100%;
  height: 2000px;
  background-color: #161625;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: 0px;
}

.daily-spread-trends {
  color: #cbd5e1;
  font-size: 18px;
  align-self: flex-start;
  margin-top: 25px;
}

@media screen and (max-width: 576px) {
  .daily-spread-trends {
    font-size: 20px;
    text-align: center;
    margin-bottom: 40px;
  }
  .graphs-container {
    padding-left: 20px;
    padding-right: 20px;
    height: 1600px;
  }
}

.confirmed-chart {
  background-color: #331427;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  margin-bottom: 40px;
}

.confirmed-title {
  color: #ff073a;
  font-size: 10px;
  align-self: flex-end;
}

@media screen and (max-width: 576px) {
  .confirmed-title {
    font-size: 8px;
  }
  .confirmed-chart {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

.active-chart {
  background-color: #132240;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  margin-bottom: 40px;
}

.active-title {
  color: #007bff;
  font-size: 10px;
  align-self: flex-end;
}

@media screen and (max-width: 576px) {
  .active-title {
    font-size: 8px;
  }
  .active-chart {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

.recovered-chart {
  background-color: #182829;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  margin-bottom: 40px;
}

.recovered-title {
  color: #27a243;
  font-size: 10px;
  align-self: flex-end;
}

@media screen and (max-width: 576px) {
  .recovered-title {
    font-size: 6px;
  }
  .recovered-chart {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

.deceased-chart {
  background-color: #1c1c2b;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  margin-bottom: 40px;
}

.deceased-title {
  color: #6c757d;
  font-size: 10px;
  align-self: flex-end;
}

@media screen and (max-width: 576px) {
  .deceased-title {
    font-size: 6px;
  }
  .deceased-chart {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

.tested-chart {
  background-color: #230f41;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-self: center;
  margin-bottom: 40px;
}

.tested-title {
  color: #9673b9;
  font-size: 10px;
  align-self: flex-end;
}

@media screen and (max-width: 576px) {
  .tested-title {
    font-size: 6px;
  }
  .tested-chart {
    width: 330px;
    margin-left: auto;
    margin-right: auto;
  }
}

.graphs-lg {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 0px;
}

.graphs-sm {
  display: none;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .graphs-lg {
    display: none;
    width: 100%;
  }
  .graphs-sm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}

.trend-holder {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-self: flex-start;
}

.trend-button {
  padding: 10px;
  border-style: none;
  outline: none;
  background-color: #1c1c2b;
  color: #64748b;
  font-size: 12px;
  margin-right: 5px;
}

.image-container {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-bottom: 20px;
}

.state-image {
  width: 320px;
}

@media screen and (max-width: 576px) {
  .image-container {
    width: 100%;
    flex-direction: column;
  }
  .state-image {
    width: 200px;
  }
}

.image-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 100px;
}

@media screen and (max-width: 576px) {
  .image-content {
    align-self: center;
    margin-left: 0px;
  }
}

.ncp-report {
  color: #94a3b8;
  font-size: 12px;
}

.population-heading {
  color: #f1f5f9;
  font-size: 10px;
  margin-bottom: 0px;
}

.content-numbers {
  color: #94a3b8;
  font-size: 16px;
}

.highlight-trend {
  color: #e2e8f0;
}

.select-container {
  height: auto;
  align-self: flex-start;
  margin-bottom: 30px;
  background-color: transparent;
}

.select-element {
  width: 250px;
  padding: 8px;
  background-color: #2f2f43;
  opacity: 0.5;
  color: #f8fafc;
  font-size: 12px;
  border-style: none;
  outline: none;
  border-radius: 4px;
}

@media screen and (max-width: 576px) {
  .select-element {
    width: 150px;
    font-size: 10px;
  }
}
